#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
}

.buttonContainer{
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonContainer span{
 font-weight: bold;
 font-size: 1.5rem;
}